html, body {
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
	background-color:#BBB;
}

#container {
	height:100%;
	background-color:#BBB;
}

#fixColumn {
	position: fixed;
	left: 20px;
	z-index: 2;
}

#fixColumn2 {
	position: fixed;
	right: 20px;
}

/*header*/

	#header {
		padding: 10px;
		margin-bottom: 50px;
		border-bottom:2px solid white;
		position: relative;
	}

	#title {
		text-align: center;
	}

	#testTitle {
		color:white;
	}
	#debugcookieHTML{
		position: absolute;
		top: 20px;
		right: 20px;
		border: 1px solid white;
		background-color: #17a2b8; 
		color: white;
	}
	#debugcookieHTML:hover{
		border: 1px solid #17a2b8;
		background-color: white; 
		color: #17a2b8;
		cursor: pointer;
	}
/*formulaire*/

#formu {
	border:2px solid #17a2b8;
	border-radius: 5px;
	background-color:white;
	padding:0;
	margin-bottom: 40px;
	margin-top: 10px;

}

.box {
	height: 50%;
	margin:10px;
	border:2px solid white;
	border-radius:5px;
	padding-bottom: 82px;
}

#dragHere {
	width: 100%;
	border:0;
	border-bottom:2px solid #17a2b8;
	border-top:2px solid #17a2b8;
	margin:0;
	border-radius: 0;
	height: 400px;
	background-color: #999;
}

#intDragHere {
	width: 60%;
	margin:auto;
	margin-top: 8%;
	height: 300px;
	border:2px dashed #17a2b8;
}

#paraDrop {
	text-align:center;
	color: #17a2b8;
	font-size: 1.4em;
	margin-top: 37%;
}

#titleFormu {
	width: 100%;
	border:0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding-left: 10px;
	padding-bottom:5px;
	font-size:2em;
	text-align: center;
}

.paragraph {
	color:white;
	font-size:1.5em;
	text-align: center;
	margin-top: 30%;
}


/*class des éléments drop*/
.dropForm {
	width: 100%;
	height: auto;
	background-color:white;
	border-bottom:2px solid #17a2b8;
	position: relative;
}
.divCrossForm{
	position: absolute;
	top:0;
	right: 10px;
	color:#17a2b8;
	z-index: 2;
	cursor: pointer;
}
.dropTitle {
	border:0;
	display: block;
	width: 80%;
	margin:auto;
	margin-bottom:30px;
	margin-top: 10px;
	height: 30px;
	text-align:center;
	font-size:1.5em;
}

.formButton{
	display: block;
	width: 20%;
	margin:auto;
	margin-bottom: 20px;
}

.buttonAdd {
	font-size:0.8em;
	width:15%;
	margin:auto;
	padding:0;
	position:absolute;
	right:80px;
	top:73px;
	cursor:pointer;
}


.iconDelete {
	color:red;
	cursor: pointer;
}

.answer {
	border:0;
	border-bottom:1px solid grey;
	margin:10px;
	margin-bottom: 20px;
}



#divInfo {
	width: 100%;
	height: auto;
	background-color:white;
	border-bottom:2px solid #17a2b8;
	position: relative;
}

#divInfo h2{
	width: 70%;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.3em;
	color:#888;
}

#divInfo input{
	display: block;
	width: 50%;
	margin:auto;
	margin-bottom: 10px;
	border:0;
	border-bottom: 1px solid grey;
}

/*Div contenant les résultats des boxs droppées*/

.radioResult, .checkboxResult, .selectResult {
	width: 100%;
	border-bottom:1px solid #17a2b8;
	}

.radioResult h2, .checkboxResult h2, .selectResult h2 {
	text-align: center;
	border-bottom:1px solid #17a2b8;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.radioLabel, .checkboxLabel {
	display: block;
	padding-left: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 1.3em;
}

.checkboxLabel {
	line-height: 0;
}

.inputRadio, .inputCheckbox {
	margin-right: 10px;
}

.selectOptions {
	display: block;
	width:40%;
	margin:auto;
	border:1px solid #17a2b8;
	font-size:1.3em;
	margin-bottom:30px;
}

.selectOptions > .selectOption:hover { /*Tentative de hover sur les option du select*/
	background-color:#17a2b8;
}

/*Formulaire généré*/

#formContainer{
	margin:auto;
	border:2px solid #17a2b8;
	border-radius: 5px;
	background-color: white;
	padding: 0;
	margin-top: 80px;
	box-shadow: 0 0 20px black;
}
#divTitleForm {
	width: 100%;
	background-color:#17a2b8; 
	color: white;
	font-size: 1.2em;
}

#validateFormButton{
	width: 20%;
	margin-left:40%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #17a2b8;
	color: white;
	font-size: 1.2em;
}

/*outils*/
.styleClone{
	width :285px;
}
.draggable{
 z-index: 2;
 cursor: move;
}
